/* Google Fonts Import - Barrio */
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

/* Google Fonts Import - Archivo */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font:"Archivo", sans-serif;
    --secondary-font:"Barrio", system-ui;
    --primary-color: #12535C;
    --secondary-color: #fac403e8; 
    --tertiary-color: #43bccd;
    }

/* Asterisk wildcard selector: override default styles added by the browser */

* {
    /* This is code taken from the Love Running Project */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

/* General Styling Rules */

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 45px;
    color: var(--secondary-color);
    text-align: center;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 35px;
    text-align: center;
    padding-top: 5px;
}

p {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: left;
    padding-top: 3px;
    padding-bottom: 10px;
    font-size: 18px;
    margin: 10px;
}

img {
    width: 300px;
    padding-left: 20px;
}

/* This is code taken from the Love Running Project to ensure that footer stays at bottom of page */
 
main {
    flex: 1 0 auto;
    background-color: var(--secondary-color);
    margin-top: 140px;
}

/* Header Styling */

header {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 30px;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 140px;
}

header #brand {
    font-size: 75px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

nav a {
    color: var(--secondary-color);
    margin: 0.07em;
    font-size: 16px;
}

nav a:hover {
    color: var(--tertiary-color);
}

nav li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.clicked {
    border-color: var(--secondary-color);
    background-color: transparent;
    border-radius: 25px;
    color: var(--primary-color);
    background-color: white;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Hero Image */

#hero-image {
   background: url(..//images/group-shot-hero-min.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 400px;
   opacity: 70%;
   
}

/* Main body */

#intro {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 100%;
}

#mission {
    display: flex;
    flex-direction: column;
}

#numbers p {
    text-align: center;
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--secondary-color)
}

#footer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #footer-info li {
    list-style: none;
    text-align: center;
  }
  #footer-info li.social {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 5px;
    font-size: 30px;
  }

/* Media Query for tablet screens (768px) */

@media screen and (min-width: 768px ){

    main {
        margin-top: 200px;
    }
    
    header {
        height: 210px;
    }

    header #brand {
        font-size: 130px;
    }

    nav a {
        font-size: 25px;
        margin: 1em;
    }

    h2 {
        font-size: 70px;
    }

    p {
        font-size: 25px;
    }

    img {
        width: 550px;
        background-position-x: 58;
    }
}

/* Media Query for desktop screens (1200px) */

@media screen and (min-width: 1200px ){
    main {
        margin-top: 225px;
    }

    #hero-image {
        height: 430px;
    }
    
    header {
        height: 230px;
    }

    header #brand {
        font-size: 150px;
    }
    nav a {
        margin: 0.5em;
    }
}

/* Media Query for large screens (1400px) */

@media screen and (min-width: 1400px ){

    #hero-image {
        height: 500px;