/* Google Fonts Import - Barrio */
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

/* Google Fonts Import - Archivo */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font:"Archivo", sans-serif;
    --secondary-font:"Barrio", system-ui;
    --primary-color: #12535C;
    --secondary-color: #f9c80e; 
    --tertiary-color: #43bccd;
    }

/* Asterisk wildcard selector: override default styles added by the browser */

* {
    /* This is code taken from the Love Running Project */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

/* General Styling Rules */

body {
    font-family: var(--primary-font);
    font-size: 100%;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 400%;
    color: var(--primary-color);
}

p {
    font-family: var(--primary-font);
    font-size: 100%;
    color: var(--primary-color);
}

/* This is code taken from the Love Running Project to ensure that footer stays at bottom of page */
 
main {
    flex: 1 0 auto;
}

/* Header Styling */

header {
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
    
}

nav a {
    color: var(--primary-color);
    margin: 1em;
}

nav a:hover {
    color: white;
}

nav li {
    padding-bottom: 0.3em;
}

.clicked {
    border-radius: 25px;
    background: var(--tertiary-color);
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Navbar styling for drop down toggle - snipped taken from Love Running but modified */

nav {
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    display: none;
}

/* Footer Styling */
footer {
    background-color: var(--tertiary-color);
}

/* Media Query to ensure header and nav font is smaller on mobile screens (320px) */

@media screen and (min-width: 320px ){
    header {
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) {
    nav a {
        margin: 0.3em;
    }
}

/* Media Query to ensure header font is smaller on tablet screens (768px) */

@media screen and (min-width: 768px ){
    header {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    nav a {
        margin: 0.5em;
    }
}